# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Configuration files with passwords
*.env
.env.local

# Logs
logs/
*.log

# IntelliJ IDEA compiled files
out/

# All class files
*.class

# Other temporary build files
bin/